:root {
    --sans-serif-font-family: 'Capriola', sans-serif;
    --serif-font-family: 'Kurale', serif;
    --monospace-font-family: 'Ubuntu Mono', monospace;
  }
  
.navbar {
    --navbar-background-color: var(--purple);
  }